body {
  /* background-color: red; */
  background-image: url(./images/balloon1.jpg);
  background-size: cover;
  margin: 0;
  text-align: center;
}

* {
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
  font-style: italic;
}
